<div class="card my-4">
    <h5 class="card-header">Категории</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                    <li>
                        <%# Category.all %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
