<div class="container">
  <div class="row">
    <div class="col-md-8">
      <%= will_paginate @posts, previous_label: 'Предыдущая', next_label: 'Следующая', class: 'apple_pagination' %>
    </div>
  </div>
</div>