<div class="card my-4">
    <h5 class="card-header">Поиск</h5>
    <div class="card-body">
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-info" type="button">Найти</button>
              </span>
        </div>
    </div>
</div>
